@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './parts/mixins';

body {
    font-family: 'Lato', sans-serif;
    color: var(--bs-gray-900);
}
#app {
    background-color: var(--bs-gray-100);
}
h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: bold;
}
input {
    outline: none;
}
i {
    font-size: 1.875rem;
}
button.btn {
    font-weight: 600;
    border: none;
    color: #00a6ff;
}
section.footer {
    color: var(--bs-gray-400);
    text-transform: uppercase;
}
